{% extends "base/base.html" %}

{% block title %}
  Epicl - Join
{% endblock title %}

{% block body %}
    {{ super() }}
    <div class="container">
      <div class="common-form-container">
        <form class="form common-form" action="{{ url_for('user.create')}}" method="POST">
          {%- formfill data.form with data.error_dict -%}
          <fieldset>
            <div class="legend">
              <legend>Join</legend>  
            </div>
            <div class="form-group">
              <!-- Email -->
              <label for="epicl-form-email">Email</label>
              <input type="email" id="epicl-form-email" name="email" placeholder="Email Address" class="form-control">
            </div>
         
            <div class="form-group">
              <!-- Password -->
              <label for="epicl-form-password">Password</label>
              <input type="password" id="epicl-form-password" name="password" placeholder="Password" class="form-control">
            </div>
         
            <div class="form-group">
              <!-- Confirm -->
              <label for="epicl-form-conform">Confirm Password</label>
              <input type="password" id="epicl-form-confirm" name="confirm" placeholder="Confirm Password" class="form-control">
            </div>

            <div class="form-group">
              <!-- Hero Name -->
              <label for="epicl-form-hero-name">Hero Name</label>
              <input type="text" id="epicl-form-hero-name" name="hero_name" placeholder="Hero Name" class="form-control">
            </div>

            <div class="form-group">
              <!-- First Name -->
              <label for="epicl-form-first-name">First Name</label>
              <input type="text" id="epicl-form-first-name" name="first_name" placeholder="First Name" class="form-control">
            </div>

            <div class="form-group">
              <!-- Middle Name -->
              <label for="epicl-form-middle-name">Middle Name</label>
              <input type="text" id="epicl-form-middle-name" name="middle_name" placeholder="Middle Name" class="form-control">
            </div>

            <div class="form-group">
              <!-- Last Name -->
              <label for="epicl-form-last-name">Last Name</label>
              <input type="text" id="epicl-form-last-name" name="last_name" placeholder="Last Name" class="form-control">
            </div>
            <label>Gender</label>
            <div class="form-group">
              <!-- Gender -->
              <label class="radio-inline">
                <input type="radio" name="gender" id="epicl-form-gender-male" value="MALE" checked />
                Male
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" id="epicl-form-gender-female" value="FEMALE" />
                Female
              </label>
            </div>
            <label for="epicl-form-photo">Profile Photo</label>
            <div class="form-group">
              <!-- Photo -->
              <input id="epicl-form-photo" type="file" name="photo" />
            </div>
          </fieldset>
          <fieldset>
            <!-- Button -->
            <button class="btn btn-success">Submit</button>
          </fieldset>
          {%- endformfill -%}
        </form>
        </div>
    </div>
{% endblock body %}
