{% extends "base/base.html" %}

{% block title %}
  Epicl - Users
{% endblock title %}

{% block js %}
{{ super() }}
<script language="javascript">
$(document).ready(function() {
    function addData(data) {
        for (var i = 0; i < data.length; i++) {
            item = data[i];
            item.url = '/user/' + item.id.toString();
            viewModel.add(item);
        }
    }
    function ViewModel() {
        this.items = ko.observableArray()
        this.add = function(item) {
            this.items.push(item);
        }
    }
    var viewModel = new ViewModel();
    window.viewModel = viewModel;

    var data = {{ tojson(data)|safe }};
    ko.applyBindings(viewModel);
    addData(data);

    addBottomListener(function () {
        if (window.noMoreItems || loading()) {
            return;
        }
        loading(true);
        viewModel = window.viewModel;
        var url = "/user/" + "?last_id=" + viewModel.items()[viewModel.items().length - 1]['id'].toString()
        var search = getURLArgument("search");
        if (search) {
            url += "&search=" + encodeURIComponent(search);
        }
        $.ajax({     
            url: url,
            dataType: "json",
            accepts: {
                text: "application/json"
            },
            success: function(data, textStatus, jqXHR) {
                data = data['data'];
                if (data.length == 0) {
                    window.noMoreItems = true;
                    return;
                }
                addData(data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(textStatus); 
            },
            complete: function(jqXHR, textStatus ) {
                loading(false);
            }
        });
    });
    var opts = {
        lines: 10, // The number of lines to draw
        length: 3, // The length of each line
        width: 2, // The line thickness
        radius: 3, // The radius of the inner circle
        corners: 1, // Corner roundness (0..1)
        rotate: 0, // The rotation offset
        direction: 1, // 1: clockwise, -1: counterclockwise
        color: '#000', // #rgb or #rrggbb
        speed: 1, // Rounds per second
        trail: 68, // Afterglow percentage
        shadow: false, // Whether to render a shadow
        hwaccel: false, // Whether to use hardware acceleration
        className: 'spinner', // The CSS class to assign to the spinner
        zIndex: 2e9, // The z-index (defaults to 2000000000)
        top: 'auto', // Top position relative to parent in px
        left: 'auto' // Left position relative to parent in px
    };
	var target = document.getElementById('spin');
	var spinner = new Spinner(opts).spin(target);
	
	addLoadListener(function(loading) {
	    if (loading) {
	        $('#spin').show();
	    } else {
	        $('#spin').hide();
	    }
	});
	$('#spin').hide();
	loading(false);
});
</script>
{% endblock js %}

{% block css %}
{{ super() }}
<style type="text/css">
#epicl-form-search {
   margin-top: 10px;
   margin-bottom : 10px;
}
</style>
{% endblock css %}

{% block body %}
  {{ super() }}
  <div class="container">
    <ul class="nav nav-tabs epicl-table-nav">
      <li class="active"><a href="{{ url_for('group.index') }}">List</a></li>
      <li><a href="{{ url_for('group.create_form') }}">Create</a></li>
    </ul>

    <form class="form-inline" id="epicl-form-search" role="search" action="{{ url_for('user.index') }}">
      <div class="form-group">
        <label class="sr-only" for="epicl-form-search">Search</label>
        <input id="epicl-form-search" type="text" class="form-control" name="search" placeholder="Search" value="{{ request.args.get('search', '') }}" />
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Hero Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: items">
        <tr>
          <td><a data-bind="attr: {href: url}, text: id"></a></td>
          <td><a data-bind="attr: {href: url}, text: hero_name"></a></td>
          <td><a data-bind="attr: {href: url}, text: email"></a></td>
        </tr>
      </tbody>
    </table>
      <div id="spin"/>
  </div>
{% endblock body %}
