{% extends "base/base.html" %}

{% block title %}
  Epicl
{% endblock title %}

{% block body %}
    {{ super() }}
    <div class="container">
        <h1>ID</h1>
        <div>{{ data.id|safe }}</div>
        <h1>Email</h1>
        <div>{{ data.email|safe }}</div>
        <h1>First Name</h1>
        <div>{{ data.first_name|safe }}</div>
        <h1>Middle Name</h1>
        <div>{{ data.middle_name|safe }}</div>
        <h1>Last Name</h1>
        <div>{{ data.last_name|safe }}</div>
        <h1>Hero Name</h1>
        <div>{{ data.hero_name|safe }}</div>
    </div>
{% endblock body %}
