<!DOCTYPE html>
<html lang="ko">
  <head>
    {% block meta %}
      <meta charset="utf-8">
    {% endblock meta %}

    <title>{% block title %}{% endblock %}</title>

    {% block css %}
    {% endblock css %}
    {% block js %}
    {% endblock js %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>

