{% extends "base/base.html" %}

{% block title %}
  Confirm
{% endblock title %}

{% block css %}
{{super()}}
<style type="text/css">
#ybs-form-confirm button{
  width: 49%;
  display: inline;
  margin :0px;
  height: 50px;
}
#ybs-form-confirm .inline-form{
  width:100%;
  display: inline;
  padding:0px;
}
</style>
{% endblock css %}

{% block body %}
    {{ super() }}
    <div class="container">
      <div class="common-form-container">
        <div class="form common-form" id="ybs-form-confirm">
          <fieldset>
            <div class="legend">
              <legend>인증</legend>  
            </div>

            <div class="form-group">
              <!-- Name -->
              <label for="ybs-form-status">상태</label>
              <div>
                {% if data.is_rejected %}
                  거절됨
                {% elif data.is_confirmed %}
                  승인됨
                {% else %}
                  확인안됨
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              <!-- Name -->
              <label for="ybs-form-name">이름</label>
              <div>
                {{ data.name|safe }}
              </div>
            </div>

            <div class="form-group">
              <!-- Message -->
              <label for="ybs-form-message">메시지</label>
              <div>
                {{ data.message|safe }}
              </div>
            </div>

            <div class="form-group">
              <!-- Message -->
              <label for="ybs-form-photo">사진</label>
              <div style="text-align: center;">
                {{ data.photo.original }}
              </div>
            </div>

          </fieldset>
          <fieldset>
            <!-- Button -->
            <form class="inline-form" action="{{ url_for('card.confirm', card_id=data.id, _method='POST') }}" method="POST">
              <button class="btn btn-success">인증</button>
            </form>
            <form class="inline-form" action="{{ url_for('card.reject', card_id=data.id, _method='POST') }}" method="POST">
              <button class="btn btn-danger">거절</button>
            </form>
          </fieldset>
        </div>
      </div>
    </div>
{% endblock body %}
