{% extends "base/base.html" %}

{% block title %}
  Upload
{% endblock title %}

{% block body %}
    {{ super() }}
    <div class="container">
      <div class="common-form-container">
        <form class="form common-form" action="{{ url_for('card.create')}}" method="POST" enctype="multipart/form-data">
          {%- formfill data.form with data.error_dict -%}
          <fieldset>
            <div class="legend">
              <legend>업로드</legend>  
            </div>

            <div class="form-group">
              <!-- Name -->
              <label for="ybs-form-name">이름</label>
              <input type="text" id="ybs-form-name" name="name" placeholder="이름" class="form-control">
            </div>

            <div class="form-group">
              <!-- Message -->
              <label for="ybs-form-message">메시지</label>
              <textarea name="message" id="ybs-form-message" rows="5" class="form-control"></textarea>
            </div>
            <label for="ybs-form-photo">사진</label>
            <div class="form-group">
              <!-- Photo -->
              <input id="ybs-form-photo" type="file" name="photo" />
            </div>
          </fieldset>
          <fieldset>
            <!-- Button -->
            <button class="btn btn-success">업로드</button>
          </fieldset>
          {%- endformfill -%}
        </form>
        </div>
    </div>
{% endblock body %}
