{% extends "base/base.html" %}

{% block title %}
  List
{% endblock title %}

{% block js %}
{{ super() }}
<script language="javascript">
$(document).ready(function() {
});
</script>
{% endblock js %}

{% block css %}
{{ super() }}
<style type="text/css">
  td img {
      height: 30px;
      width:auto;
  }
</style>
{% endblock css %}

{% block body %}
  {{ super() }}
  <div class="container">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Thumbnail</th>
          <th>Name</th>
          <th>Message</th>
          <th>Confirmed</th>
          <th>Rejected</th>
        </tr>
      </thead>
      <tbody>
        {% for card in data %}
        <tr>
          <td><a href="{{ url_for('card.read', card_id=card.id) }}">{{ card.id|safe }}</a></td>
          <td><a href="{{ url_for('card.read', card_id=card.id) }}">{{ card.photo.get_thumbnail('small') }}</a></td>
          <td><a href="{{ url_for('card.read', card_id=card.id) }}">{{ card.name|safe }}</a></td>
          <td><a href="{{ url_for('card.read', card_id=card.id) }}">{{ card.message|safe|truncate(50, True) }}</a></td>
          <td><a href="{{ url_for('card.read', card_id=card.id) }}">{{ card.is_confirmed|safe }}</a></td>
          <td><a href="{{ url_for('card.read', card_id=card.id) }}">{{ card.is_rejected|safe }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      <div id="spin"/>
  </div>
{% endblock body %}
