{% extends "base/base.html" %}

{% block title %}
  Confirm
{% endblock title %}

{% block css %}
{{super()}}
{% endblock css %}

{% block body %}
    {{ super() }}
    <div class="container">
      <div class="common-form-container">
        <div class="form common-form" id="ybs-form-confirm">
          <fieldset>
            <div class="legend">
              <legend>Detail</legend>  
            </div>

            <div class="form-group">
              <!-- Name -->
              <label for="ybs-form-status">상태</label>
              <div>
                {% if data.is_rejected %}
                  거절됨
                {% elif data.is_confirmed %}
                  승인됨
                {% else %}
                  확인안됨
                {% endif %}
              </div>
            </div>
            <div class="form-group">
              <!-- Name -->
              <label for="ybs-form-name">이름</label>
              <div>
                {{ data.name|safe }}
              </div>
            </div>

            <div class="form-group">
              <!-- Message -->
              <label for="ybs-form-message">메시지</label>
              <div>
                {{ data.message|safe }}
              </div>
            </div>

            <div class="form-group">
              <!-- Message -->
              <label for="ybs-form-photo">사진</label>
              <div style="text-align: center;">
                {{ data.photo.original }}
              </div>
            </div>

            <div class="form-group">
              <!-- Message -->
              <label for="ybs-form-photo">정사각형 사진</label>
              <div style="text-align: center;">
                {{ data.photo.get_thumbnail('large') }}
              </div>
            </div>

          </fieldset>
          <fieldset>
            <!-- Button -->
            <form class="inline-form" action="{{ url_for('card.delete', card_id=data.id, __method__='DELETE') }}" onsubmit="return confirm('Do you really want to delete this card?');" method="POST">
              <button class="btn btn-danger">삭제</button>
            </form>
          </fieldset>
        </div>
      </div>
    </div>
{% endblock body %}
