{% extends "base/base.html" %}

{% block title %}
  Upload
{% endblock title %}

{% block body %}
    {{ super() }}
    <div class="container">
      <p style="text-align:center;">업로드됬어여</p>
    </div>
{% endblock body %}
